@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Asimovian&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jua&family=League+Gothic&family=Lexend+Giga:wght@100..900&family=Lexend+Peta:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,135;1,135&family=Sour+Gummy:ital,wght@0,338;1,338&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=UnifrakturMaguntia&display=swap');
@import "tailwindcss";

.text-container::-webkit-scrollbar{
    display:none
}
.char {
  display: inline-block;
  transform-origin: 50% 100%;
  will-change: transform;
}